<section>
    <div class="col-md-4">
        <div class="pro-cret-content-container">
            <div class="pro-cret-header-container app-flex-row">
                <img src="assets/images/Mask-Star.svg" alt="pro cretificate">
                <span>الشهادات الاحترافية</span>
            </div>
            <div class="pro-cret-content-container app-flex-row">
                <div class="pro-cret-content-inner-container">
                    <div class="pro-cret-info-container app-flex-column">
                        <span>هل تريد ان تحترف و تتعلم البرمجة و التحكم في الدرونز ؟</span>
                        <span>تقدم من خلال البوابة على للحصول على شهادات احترافية في قطاع الدرونز</span>
                        <div>
                            <button type="button" class="btn header-button"> تقدم الآن </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>