<section>
    <div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <div>
                    <span>اندية الدرونز</span>
                    <span>
                        معرفة النوادي المتاحة التي تسمح بتشغيل والتدرب على الدرونز حجز بالوقت والسعة المناسبة
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <div>
                    <span>اندية الدرونز</span>
                    <span>
                        معرفة النوادي المتاحة التي تسمح بتشغيل والتدرب على الدرونز حجز بالوقت والسعة المناسبة
                    </span>
                </div>
            </div>
        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>
</section>
