.logo-image {
    width: 12rem;
}

.header-button {
    background: #FFFFFF26 0% 0% no-repeat padding-box;
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 5rem;
}

.navbar {
    justify-content: center;
}

.navbar .navbar-collapse {
    flex-grow: 0;
}