<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand ms-5" routerLink="/">
            <img src="assets/images/Logo.svg" alt="logo" class="logo-image">
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"> 
                       عن الدروتز
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"> 
                       الفعاليات
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"> 
                       المتاجر
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"> 
                       اندية الدروتز
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link"> 
                        اتصل بنا
                    </a>
                </li>
            </ul>
            
            <div class="navbar-nav">
                <button type="button" class="btn header-button"> تسجيل مستخدم </button>
            </div>
        </div>
    </nav>
</header>