<div class="page-container">
    <div class="header-section">
        <div class="container">
            <app-header></app-header>
            <app-banner></app-banner>
        </div>
    </div>
    <div class="news-section">
        <div class="container">
            <app-news></app-news>
        </div>
    </div>
    <div class="pro-cretifcat-section">
        <app-pro-cretifcate></app-pro-cretifcate>
    </div>
    <!-- <div>
        <app-info></app-info>
    </div> -->
    <!-- <div>
        <app-events></app-events>
    </div> -->
    <!-- <div>
        <app-training></app-training>
    </div> -->
    <!-- <div>
        <app-membership></app-membership>
    </div> -->
    <!-- <div>
        <app-footer></app-footer>
    </div> -->
</div>